#page-wrap {
     width: 800px;
     margin: 0 auto;
}

H1 {
  font-family: 'Roboto', serif;
  font-size: 30px;
  font-weight: 400;
}

p {
  font-family: 'Roboto', serif;
  font-size: 18px;
  font-weight: 300;
}

ul {
  font-family: 'Roboto', serif;
  font-size: 18px;
  font-weight: 300;
}
